@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>

<body>
    <div class="container">
        <h1 class="h1">Welcome to book store</h1>
        <h1 class="h1">@DateTime.Now.ToString("dd-MM-yyyy")</h1>
        <h1 class="h1">Sum @(3+5)</h1>
        <h1 class="h1">vij123456789@gmail.com</h1>
        <h1 class="h1">@@vijhhh2</h1>
    </div>
    <button class="btn btn-primary">Click Me</button>
    <script src="~/lib/jquery/jquery.min.js"></script>
</body>

</html>

<script>
    $(document).ready(() => {
        alert("Page Loaded")
    });
</script>
