
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to book store</h1>
    <h1>@DateTime.Now.ToString("dd-MM-yyyy")</h1>
    <h1>Sum @(3+5)</h1>
    <h1>vij123456789@gmail.com</h1>
    <h1>@@vijhhh2</h1>
</body>
</html>
